container_commands:
  01_collectstatic:
    command: "source $PYTHONPATH/activate && python3 manage.py collectstatic --noinput"
    command: "source $PYTHONPATH/activate && python3 manage.py migrate"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ecommerce.settings
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ecommerce.wsgi:application