<!-- Featured Product Card-->
<div class="col-6 col-md-4 col-lg-3">
    <div class="card featured-product-card">
      <div class="card-body">
        <!-- Badge--><span class="badge badge-warning custom-badge"><i class="lni lni-star"></i></span>
        <div class="product-thumbnail-side">
          <!-- Wishlist Button --><a class="wishlist-btn shadow-sm border" href="#"><i class="lni lni-heart"></i></a>
          <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img src="{{ image }}" alt=""></a>
        </div>
        <div class="product-description">
          <!-- Product Title --><a class="product-title d-block" href="single-product.html">{{ title }}</a>
          <!-- Price -->
          <p class="sale-price">${{price}}<span>${{price}}</span></p>
        </div>
      </div>
    </div>
  </div>