{% extends 'store/base.html' %}
{% load static %}

{% block title %}Payment Successful - Suha Store{% endblock %}
{% block meta_description %}Your Suha Store order was placed successfully.{% endblock %}

{% block content %}
    <!-- Header Area-->
    <div class="header-area" id="headerArea">
      <div class="container h-100 d-flex align-items-center justify-content-between rtl-flex-d-row-r">
        <!-- Back Button-->
        <div class="back-button me-2"><a href="{% url 'store' %}"><i class="fa-solid fa-arrow-left-long"></i></a></div>
        <!-- Page Title-->
        <div class="page-heading">
          <h6 class="mb-0">Payment Status</h6>
        </div>
      </div>
    </div>

    <!-- Order/Payment Success-->
    <div class="order-success-wrapper">
      <div class="content"><i class="fa-solid fa-basket-shopping"></i>
        <h5 class="text-white">Payment successful</h5>
        <p class="text-white opacity-75">We will notify you of all the details via email. Thank you!</p>
        <a class="btn btn-warning mt-3" href="{% url 'store' %}">Shopping Again</a>
        <a class="btn btn-outline-light mt-2" href="{% url 'dashboard' %}">View My Orders</a>
      </div>
    </div>
{% endblock %}
