<div class="card flash-sale-card">
    <div class="card-body"><a href="single-product.html"><img src="{{ image }}" alt=""><span
                class="product-title">{{title}}</span>
            <p class="sale-price">{{price}}<span class="real-price">$15</span></p><span class="progress-title">33% Sold
                Out</span>
            <!-- Progress Bar-->
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </a></div>
</div>