{% include 'store/base.html' %}

{% load static %}
{% load crispy_forms_tags  %}

{% block content %}
<body class="w-full w-100" style="background-color: gray;">
    <br>

    <div class="container bg-white shadow-md p-5" style="width:50%; border-radius:20px;">
        <h3>
            Manage Shipping Address
        </h3>
        <h5> Please Fill Shipping Address </h5>
        <hr>
        <form action="" method="post">

            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-primary btn-lg w-100 btnk-block p-2 ">
                <li class="fa fa-address-book" aria-hidden="true"></li> &nbsp;  Update Shipping Address</button>
        </form>
    </div>
</body>

{% endblock content %}